saved_model/
logs/
.DS_Store
.vscode/
env/
__pycache__/
*/__pycache__/
!logstash-8.8.0/config/logstash.conf
!elasticsearch-8.8.0/config/elasticsearch.yml
logstash-8.8.0/*
elasticsearch-8.8.0/*
grafana-9.5.2/*
